.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: gray;
  border-radius: 5px;
}

.simpleButton {
  margin: 5px;
  font-size: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-color: #008cba;
  background-color: #008cba;
  border-radius: 5px;
}

.container {
  padding: 2px 16px;
  text-align: left;
}
